body {
  background-color: #424242;
  background-image: url("../img/bg-propeller-dome.jpg");
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }

strong {
  font-weight: bold; }

.container {
  margin: 0 auto;
  width: 860px; }

/* header styles */
#header-site {
  height: 112px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  transition: 1s; }
  #header-site.header-persist {
    background: url("../img/bg-about.png");
    height: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 10; }
    #header-site.header-persist #header-nav {
      margin-top: -32px;
      transition: .1s; }
      #header-site.header-persist #header-nav ul li a {
        display: block;
        height: 35px; }
    #header-site.header-persist #logo a {
      background-position: 0 -128px;
      height: 45px;
      transition: 1.5s; }

#logo a {
  background: url("../img/logo.png");
  display: block;
  height: 112px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 209px; }

#header-nav {
  margin-top: -70px; }
  #header-nav ul li {
    display: inline-block; }
    #header-nav ul li a {
      color: #fff;
      font-family: "Share Tech";
      letter-spacing: 0px;
      font-size: 20px;
      margin-right: 30px;
      text-shadow: 1px 1px 3px black;
      text-transform: uppercase; }
      #header-nav ul li a:hover {
        border-bottom: 2px solid white; }

#nav-left {
  float: left; }

#nav-right {
  float: right; }
  #nav-right a {
    margin-left: 30px;
    margin-right: 0 !important; }

/* global section styles */
section {
  background: #fff;
  min-height: 450px;
  padding-bottom: 50px; }
  section hgroup {
    font-size: 24px;
    padding-top: 70px;
    text-align: center; }
    section hgroup.light {
      color: #fff;
      text-shadow: 1px 1px 3px black; }
  section h2 {
    font-family: "Share Tech";
    letter-spacing: -2px;
    font-size: 60px;
    padding-top: 20px;
    text-transform: uppercase; }
  section h3 {
    padding: 20px 0 40px; }
  section#about {
    background: url("../img/bg-about.png");
    min-height: auto;
    padding-top: 130px;
    padding-bottom: 0;
    transition: .5s; }
    section#about.darken {
      background: rgba(0, 0, 0, 0.8);
      transition: 0s; }
      section#about.darken h2 {
        opacity: .1;
        transition: 2s; }
      section#about.darken #intro {
        margin-top: 0;
        transition: .1s; }
    section#about h2 {
      color: #fff;
      text-align: center;
      text-shadow: 1px 1px 3px black; }
      section#about h2 span {
        display: block;
        font-family: "Clicker Script";
        font-size: 32px;
        letter-spacing: 0;
        padding: 10px 0;
        text-transform: lowercase; }
    section#about #intro {
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: 36px;
      line-height: 44px;
      margin-bottom: -110px;
      margin-top: 40px;
      padding: 35px;
      position: relative; }
  section#services {
    background-image: url("../img/bg-services.jpg");
    margin-top: -140px;
    padding-top: 140px; }
  section#culture {
    background-image: url("../img/bg-code-happy.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 6px solid rgba(0, 0, 0, 0.3); }
  section#contact {
    background-image: url("../img/bg-contact.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid black; }
  section#insights {
    background-image: url("../img/bg-insights.jpg");
    border-bottom: 6px solid #333333;
    border-top: 1px solid silver; }
  section#portfolio {
    background-image: url("../img/bg-portfolio.jpg");
    border-bottom: 6px solid #e0e0e0; }

/* Services Section */
#list-services li {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  display: inline-block;
  height: 335px;
  text-align: left;
  width: 260px; }
  #list-services li .title {
    background: #ededed;
    border-top: 1px solid #d6d6d6;
    display: block;
    font-family: "Share Tech";
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase; }
  #list-services li .details {
    color: #fff;
    display: block;
    font-size: 22px;
    height: 224px;
    line-height: 25px;
    padding: 20px;
    text-shadow: 0 1px 4px black;
    transition: .1s;
    visibility: hidden; }
  #list-services li:hover .details {
    background: rgba(119, 172, 149, 0.75);
    transition: .2s;
    visibility: visible; }
  #list-services li.lean {
    background: url("../img/art-services-lean.jpg") no-repeat; }
  #list-services li.design {
    background: url("../img/art-services-design.jpg") no-repeat;
    margin: 0 30px; }
  #list-services li.agile {
    background: url("../img/art-services-agile.jpg") no-repeat; }

/* Culture Section */
#list-culture {
  box-shadow: 0 0 12px black; }
  #list-culture li {
    color: #333;
    display: table-cell;
    height: 235px;
    text-align: left;
    text-shadow: none;
    width: 215px; }
    #list-culture li span {
      display: block;
      padding: 20px 30px; }
    #list-culture li .number {
      font-family: "Share Tech";
      font-size: 32px;
      font-weight: 700; }
    #list-culture li .title {
      font-size: 26px;
      padding: 0 30px; }
    #list-culture li .details {
      font-size: 20px; }
    #list-culture li.one {
      background: rgba(255, 255, 255, 0.9); }
    #list-culture li.two {
      background: rgba(244, 244, 244, 0.9); }
    #list-culture li.three {
      background: rgba(238, 238, 238, 0.9); }
    #list-culture li.four {
      background: rgba(232, 232, 232, 0.9); }

/* Portfolio section */
#list-portfolio li {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  display: inline-block;
  height: 335px;
  margin-bottom: 30px;
  text-align: center;
  width: 260px; }
  #list-portfolio li .title {
    background: #ededed;
    color: #333;
    border-top: 1px solid #d6d6d6;
    display: block;
    font-family: "Share Tech";
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase; }
  #list-portfolio li .details {
    color: #fff;
    display: block;
    font-family: "Share Tech";
    font-size: 40px;
    font-weight: 700;
    height: 224px;
    padding: 20px;
    text-shadow: 0 1px 4px black;
    text-transform: uppercase;
    transition: .1s;
    visibility: hidden; }
    #list-portfolio li .details span {
      display: block;
      font-size: 30px;
      padding-top: 50px; }
  #list-portfolio li:hover .details {
    background: rgba(119, 172, 149, 0.75);
    transition: .2s;
    visibility: visible; }
  #list-portfolio li.catwalk {
    background: url("../img/art-services-lean.jpg") no-repeat; }
  #list-portfolio li.bofa {
    background: url("../img/art-services-design.jpg") no-repeat;
    margin: 0 30px; }
  #list-portfolio li.github {
    background: url("../img/art-services-agile.jpg") no-repeat; }

/* Insights Section */
.carousel {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 860px; }
  .carousel .hero {
    background: url("http://placehold.it/860x434.jpg");
    height: 434px; }
  .carousel hgroup {
    padding-top: 0; }
  .carousel h4 {
    font-family: "Share Tech";
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    padding-bottom: 0;
    text-transform: uppercase; }
    .carousel h4 a {
      color: #333;
      text-decoration: underline; }
  .carousel p {
    font-size: 20px;
    line-height: 28px;
    padding: 20px; }
    .carousel p a {
      color: #333;
      font-weight: 700; }

/* Contact Section */
#contact-info .inner, #contact-form-area .inner {
  background: rgba(255, 255, 255, 0.75);
  height: 210px;
  padding: 20px; }

#contact-info .bottom, #contact-form-area .bottom {
  background: rgba(244, 244, 244, 0.75);
  border-top: 1px solid #dedddc;
  padding: 20px;
  text-align: center; }

#contact-info {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  float: left;
  font-family: "Share Tech";
  letter-spacing: -2px;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  width: 270px; }
  #contact-info span {
    display: block; }
  #contact-info address {
    padding-bottom: 20px; }
  #contact-info h4 {
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 0; }
  #contact-info a {
    color: #333; }

#contact-form-area {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: "Share Tech";
  letter-spacing: -2px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 360px;
  text-align: left;
  text-transform: uppercase;
  width: 470px; }
  #contact-form-area input, #contact-form-area textarea {
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    display: block;
    font-family: "Share Tech";
    letter-spacing: -2px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 5px;
    width: 165px; }
  #contact-form-area textarea {
    float: right;
    height: 150px;
    width: 225px; }
  #contact-form-area #contact-submit {
    background: #77ac95;
    border-radius: 2px;
    color: #fff;
    float: right;
    font-weight: 400;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
    width: 90px; }
  #contact-form-area ::-webkit-input-placeholder {
    color: #333;
    text-transform: uppercase; }
  #contact-form-area :-moz-placeholder {
    /* Firefox 18- */
    color: #333;
    text-transform: uppercase; }
  #contact-form-area ::-moz-placeholder {
    /* Firefox 19+ */
    color: #333;
    text-transform: uppercase; }
  #contact-form-area :-ms-input-placeholder {
    color: #333;
    text-transform: uppercase; }
  #contact-form-area .bottom a {
    color: #333;
    margin: 0 20px;
    text-decoration: underline; }

/* Responsive Styles */
@media screen and (max-width: 640px) {
  .container {
    max-width: 100%; }

  section hgroup {
    padding: 10px; }

  #header-site {
    background: rgba(0, 0, 0, 0.7);
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    transition: .5s;
    z-index: 10; }
    #header-site #header-nav {
      transition: .5s;
      padding-top: 15px; }
      #header-site #header-nav ul li a {
        display: block;
        height: 35px; }
    #header-site #nav-left, #header-site #nav-right {
      float: none;
      margin: 0 auto;
      text-align: center; }
      #header-site #nav-left li a, #header-site #nav-right li a {
        margin: 0 10px 0 10px !important; }
    #header-site #logo a {
      background-position: 0 -128px;
      height: 45px;
      transition: .6s; }

  #header-nav {
    margin-top: 0; }

  section#about {
    padding-top: 140px; }
    section#about h2 {
      padding-bottom: 20px; }
    section#about #intro {
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      padding: 25px; }

  section#services {
    padding-top: 0;
    margin-top: 0; }

  #list-services li {
    display: block;
    margin: 0 auto 20px auto; }
    #list-services li .details {
      background: rgba(119, 172, 149, 0.75);
      visibility: visible; }
    #list-services li.design {
      margin: 0 auto 20px auto; }

  #list-culture {
    box-shadow: none; }
    #list-culture li {
      display: block;
      height: auto;
      margin: 0 auto;
      width: 290px; }

  #list-portfolio li {
    display: block;
    margin: 0 auto 20px auto; }
    #list-portfolio li .details {
      background: rgba(119, 172, 149, 0.75);
      visibility: visible; }
    #list-portfolio li.bofa {
      margin: 0 auto 20px auto; }

  .carousel {
    max-width: 100%; }
    .carousel .hero {
      background-size: contain;
      height: 200px; }

  #contact-info {
    float: none;
    margin: 0 auto 20px auto; }

  #contact-form-area {
    margin: 0 auto;
    max-width: 270px; }
    #contact-form-area form {
      padding-bottom: 40px; }
    #contact-form-area .inner {
      height: auto; }
    #contact-form-area textarea, #contact-form-area input {
      border: 1px solid #cccccc;
      float: none;
      width: 100%; }
    #contact-form-area #contact-submit {
      float: right;
      margin-bottom: -100px;
      margin-top: 50px;
      width: 100%; }
    #contact-form-area p a {
      display: block;
      padding: 15px;
      text-align: center; }

  #portfolio .scroll-panel {
    width: 100%;
    height: 335px;
    overflow: scroll; }
    #portfolio .scroll-panel #list-portfolio {
      width: 1950px;
      height: 335px; }
      #portfolio .scroll-panel #list-portfolio li {
        display: inline-block;
        margin: 0 15px; } }
