@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  src: local('Clicker Script'), local('ClickerScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/clickerscript/v1/Zupmk8XwADjufGxWB9KThLDH3ri20rYH10B2w3wbVeU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url(http://themes.googleusercontent.com/static/fonts/sharetech/v1/riJWcvd3sYdxJpiCWZvUGL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.wufoo {
  font-family: "Share Tech";
  font-size: 16px;

  #saveForm {
    background: #77ac95;
    border-radius: 2px;
    color: #fff;
    float: right;
    font-weight: 400;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
    width: 90px;
  }
  
  #Field119 {
    height: 250px;
  }
}
html.embed {
  background: transparent !important;
}
